.regular {
	background-color: #00ffff;
	width: 270px;
	padding: 10px 10px;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.display {
	margin: 10px 0;
}

input {
	width: 95%;
    height: 40px;
    margin: 0 4px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid #05eff7;
    outline: none;
    text-align: right;
    // cursor: none;
    cursor: default;
    background-color: lightyellow;
}

div {
	display: inline-block;
	vertical-align: top;
	margin: 5px 5px;
}


.clear, .calculation, .numbers {
	display: inline-block;
	vertical-align: top;
}

button {
	width: 40px;
	height: 30px;
	font-size: 18px;
	// border: 1px solid black;
	background-color: white;
	transition: all 1s linear;
}

button:hover {
	background-color: #85f703;
	color: #000;
}
.zero button {
	width: 94px;
}

.equal button {
	content: '';
	position: absolute;
	height: 70px;
}

// .minus button, .plus button {
// 	display: inline;
// }